body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.imagem-centro {
    display: block;
    margin: 20px auto;
    width: 250px;
}

input {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
}

p {
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.imagem-centro {
    display: block;
    margin: 150px auto 20px auto;
    width: 250px;
}